version: '3'
services:
  nginx:
    container_name: service-nginx
    image: nginx:1.15.7
    ports:
      - "8000:80"
    volumes:
      - ./app/app:/usr/share/nginx/html
      - ./nginx/app/conf.d/:/etc/nginx/conf.d/
      - ./nginx/app/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/app/log:/var/log/nginx/
    restart: always
    networks:
      - default

  app1-nginx:
    container_name: app1-nginx
    image: nginx:1.15.7
    ports:
      - "8002:80"
    volumes:
      - ./app/app1:/usr/share/nginx/html
      - ./nginx/app1/conf.d/:/etc/nginx/conf.d/
      # - ./nginx/app1/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/app1/log:/var/log/nginx/
    restart: always
    networks:
      - default 

  app2-apache:
    container_name: app2-apache
    image: php:7.2-apache
    ports:
      - "8001:80"
    volumes:
      - ./app/app2:/var/www/html/
    restart: always
    networks:
      - default

  php72:
    container_name: php72
    build: ./php72
    ports:
      - "9000:9000"
    volumes:
      - ./app:/var/www/html
      - ./php72/php.ini:/usr/local/etc/php/php.ini
    restart: always
    networks:
      - default
  
  # php:
  #   container_name: php72
  #   build: ./php72-alpine
  #   ports:
  #     - "9000:9000"
  #   volumes:
  #     - ./app:/var/www/html
  #     - ./php72-alpine/php.ini:/usr/local/etc/php/php.ini
  #   restart: always    

  redis:
    container_name: redis
    image: redis:alpine
    command: [ "redis-server", "/usr/local/etc/redis/redis.conf" ]
    ports:
      - "6379:6379"
    volumes:
      - "./redis/redis.conf:/usr/local/etc/redis/redis.conf"
      - "./redis/data/:/data/"
    restart: always
    networks:
      - default

networks:
  default:

